<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Salle de test</title>
    
  
    <link rel="stylesheet" href="/static/style.css">
    
  <link rel="stylesheet" href="/static/control.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>

</head>
<body>

  
  <div id="console">
  <h1>Salle de test</h1>
  <section id="cameras">
  <h2>Caméras</h2>
  <ol>
      
      <li>
        <a href="http://testroom-camera1/">http://testroom-camera1/</a>
      </li>
      
      <li>
        <a href="http://testroom-camera2/">http://testroom-camera2/</a>
      </li>
      
  </ol>
</section>

  <section id="toggles">
  <h2>Interrupteurs</h2>
  <ol>
      
      <li>
        <label class="switch_wrapper">
        <span>Machin</span>
        <span class="switch">
	  <input type="checkbox" v-bind:value="0" v-model="enabled">
          <span class="slider"></span>
        </span>
        </label>
      </li>
      
      <li>
        <label class="switch_wrapper">
        <span>Truc</span>
        <span class="switch">
	  <input type="checkbox" v-bind:value="1" v-model="enabled">
          <span class="slider"></span>
        </span>
        </label>
      </li>
      
  </ol>
</section>
  <section id="triggers">
  <h2>Actions</h2>
  <ol>
      
      <li>
        <label class="trigger_wrapper">
        <span>Jouer la vidéo</span>
	<input type="button" value="Do it" v-on:click="trigger(0)">
        </label>
      </li>
      
      <li>
        <label class="trigger_wrapper">
        <span>Ajouter 10 min au temps</span>
	<input type="button" value="Do it" v-on:click="trigger(1)">
        </label>
      </li>
      
  </ol>
</section>

  </div>
  <script src="/static/control.js"></script>

</body>
</html>
