video {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
}

#camera-list {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	margin-top: 1em;
}

#camera-list .placeholder {
	flex-grow: 1;
	cursor: pointer;
	border: 1px solid #FFFFFF;
	background-color: #000000;
}

#camera-list video {
	max-height: 30vh;
}

#main-camera {
	margin-top: 1em;
	border: 1px solid #FFFFFF;
	background-color: #000000;
}

#microphones li {
	display: inline-block;
	width: 12em;
}

.camera {
	position: relative;
	z-index: 0;
}

.name-tag {
	position: absolute;
	z-index: 100;
	top: -0.75em;
	right: 0.5em;
	padding: 0.25em 0.5em 0.25em 0.5em;
	border: 1px solid #808080;
	border-radius: 3px;
	background-color: #FFFFFF;
}
