video {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#camera {
	background-color: #000000;
}

#camera-list {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

#camera-list .placeholder {
	flex-grow: 1;
	cursor: pointer;
	border: 1px solid #FFFFFF;
}

#camera-list video {
	max-height: 38vh;
}

#main-camera {
	border: 1px solid #FFFFFF;
}

