section {
	margin: 0.25em 0.25em;
	padding: 0.5em 0.5em;
	border: 1px solid #808080;
	border-radius: 3px;
	overflow: hidden;
}

.switch {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0.5em;
	width: 4em;
	height: 2em;
}

.switch input {
	display:none;
}

.switch_wrapper {
	cursor: pointer;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #B0B0B0;
	border-radius: 1em;
}

.slider:before {
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	left: 0.25em;
	bottom: 0.25em;
	background-color: white;
	border-radius: 1em;
	transition: 250ms;
}

input:checked + .slider {
	background-color: #009900;
}

input:checked + .slider:before {
	transform: translateX(2em);
}

.button {
	display: inline-block;
	padding: 0.35em 1em 0.35em 1em;
	margin: 0.2em 0.25em 0.5em 0.25em;
	border: none;
	border-radius: 0.75em;
	background-color: #009900;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	outline: none;
	box-shadow: 0 0.4em #B0B0B0;
	cursor: pointer;
}

.button:hover {
	background-color: #008000;
}

.button:active {
  background-color: #008000;
  box-shadow: 0 0.2em #B0B0B0;
  transform: translateY(0.2em);
}

.button:disabled {
  background-color: #808080;
  cursor: auto;
}

.button.red {
	background-color: #990000;
}

.button.red:hover {
	background-color: #800000;
}

header .button {
	float: right;
}

header a {
	display: inline-block;
	padding: 0.35em 1em 0.35em 1em;
	margin: 0.2em 0.25em 0.5em 0.25em;
	float: right;
}

input[type=text] {
	margin: 0.25em 0.25em;
	padding: 0.5em 0.5em;
	border: 1px solid #808080;
	border-radius: 3px;
	font-family: monospace;
	color: #000000;
	background-color: #F0F0F0;
}

#columns {
	display: block;
	clear: both;
}

#chrono {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#chrono .chronometer {
	flex-grow: 1;
	color: #202020;
	font-family: monospace;
	font-size: 3em;
	padding: 0.2em;
}

#chrono .button {
	min-width: 10em;
}

#interactions {
	display: flex;
	flex-wrap: wrap;
}

#clues {
	flex-grow: 1000;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: disc;
}

#clues > div {
	margin-bottom: 0.5em;
}

#clues input[type=text] {
	width: 99%;
}

#clues .button {
	width: 10em;
}

#clues .clue {
	font-family: monospace;
}

#clues .visible {
	color: #FF0000;
}

#clues .history {
	flex-grow: 1;
	min-width: 20em;
	margin-left: 1em;
}

#clues ol {
	list-style-type: disc;
	padding-left: 1em;
}

#clues .scroll {
	height: 8em;
	overflow-y: scroll;
}

#triggers {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#triggers li {
	min-width: 15em;
}

#triggers .button {
	width: 15em;
}

#toggles {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#toggles li {
	min-width: 15em;
}

.blinking {
	animation: blinker 0.5s infinite steps(10);
}

@keyframes blinker {
	0% {
		visibility: hidden;
	}
	50% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

/* For desktop, two-columns display */
@media only screen and (min-width: 768px) {
	#columns {
		display: flex;
	}

	#primary {
		flex-grow: 1;
	}

	#secondary {
		min-width: 24em;
	}
}
