.switch {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0.5em;
	width: 4em;
	height: 2em;
}

.switch input {
	display:none;
}

.switch_wrapper {
	cursor: pointer;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #B0B0B0;
	border-radius: 1em;
}

.slider:before {
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	left: 0.25em;
	bottom: 0.25em;
	background-color: white;
	border-radius: 1em;
	transition: 250ms;
}

input:checked + .slider {
	background-color: #009900;
}

input:checked + .slider:before {
	transform: translateX(2em);
}

.button {
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em 0.5em;
	border: none;
	border-radius: 0.75em;
	background-color: #009900;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	outline: none;
	font-size: 100%;
	box-shadow: 0 0.5em #B0B0B0;
	cursor: pointer;
}

.button:hover {
	background-color: #008000;
}

.button:active {
  background-color: #008000;
  box-shadow: 0 0.25em #B0B0B0;
  transform: translateY(0.25em);
}

.button:disabled {
  background-color: #808080;
  cursor: auto;
}

#admin .button {
	background-color: #990000;
}

#admin .button:hover {
	background-color: #800000;
}

table, th, td {
	border: 3px solid black;
	text-align: center;
	border-collapse: collapse;
}

th {
	font-size: 30px;
}

div.cam {
	color: white;
	background-color: white;
	text-align: center;
	position: absolute;
	top: 1%;
	left: 65%;
	font-size: 2vw;
	border-collapse: collapse;
	display: block;
}

#reset{
	position: absolute;
	left: 40%;
	top:2%;
}

#puzzles{
	position: relative;
	left: 5px;
	top:5px;
}

.chrono{
	display: inline-block;
	background-color:rgba(50,255,50,1);
	color:black;
	border: 2px solid white;
}
