* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	overflow-y: hidden;
}

body {
	background-color: #000000;
	background-image: url("/static/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

video {
	height: 100%;
}

audio { 
	display: none;
}

#chrono {

	font-size: 20vh;
	text-align: center;
	color: red;
	background-color: black;
	text-align: center;
	position: absolute;
	left: calc(50vw - 50vh);
	width: 100vh;
	top: 15%;
	border: 5px solid red;
}

#clues  {
	color: red;
	background-color: black;
	text-align: center;
	position: relative;
	top: 50%;
	left: 2%;
	width: 96%;
	font-size: 8vh;
	border: 5px solid red;
	-webkit-animation: pblink 1s  infinite;
 	-moz-animation: pblink 1s  infinite;
  	animation: pblink 1s  infinite;
}

@keyframes pblink {  
  0% { border: 5px solid red; }
  100% { border: 5px solid transparent; }
}
@-webkit-keyframes pblink {
  0% { border: 5px solid red; }
  100% { border: 5px solid transparent; }
}

@keyframes blink {  
  0% { color: red; }
  100% { color: rgba(255,0,0,0.8); }
}
@-webkit-keyframes blink {
  0% { color: red; }
  100% { color: rgba(255,0,0,0.8); }
}
span.blink {
  -webkit-animation: blink 1s  infinite;
  -moz-animation: blink 1s  infinite;
  animation: blink 1s  infinite;
} 

#clue {
	margin: 2em;
	font-size: 300%;
	text-align: center;
}

