* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	overflow-y: hidden;
}

body {
	background-color: #000000;
	background-image: url("/static/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

video {
	height: 100%;
}

audio { 
	display: none;
}

#chrono {
	margin: 2em;
	font-size: 300%;
	text-align: center;
}

#clue {
	margin: 2em;
	font-size: 300%;
	text-align: center;
}
