* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	overflow-y: hidden;
}

body {
	background-color: #000000;
	background-image: url("/static/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

video {
	height: 100%;
}

audio { 
	display: none;
}

#chrono {
	color: red;
	background-color: black;
	text-align: center;
	width: 50%;
	position: relative;
	top: 60px;
	left: 25%;
	font-size: 10vw;
	border: 5px solid red;
}

#clues  {
	color: red;
	background-color: black;
	text-align: center;
	position: relative;
	top: 100px;
	left: 2%;
	width: 96%;
	font-size: 5vw;
	border: 5px solid red;
	-webkit-animation: pblink 1s  infinite;
 	-moz-animation: pblink 1s  infinite;
  	animation: pblink 1s  infinite;
}

@keyframes pblink {  
  0% { border: 5px solid red; }
  100% { border: 5px solid transparent; }
}
@-webkit-keyframes pblink {
  0% { border: 5px solid red; }
  100% { border: 5px solid transparent; }
}

@keyframes blink {  
  0% { color: red; }
  100% { color: rgba(255,0,0,0.1); }
}
@-webkit-keyframes blink {
  0% { color: red; }
  100% { color: rgba(255,0,0,0.1); }
}
span.blink {
  -webkit-animation: blink 1s  infinite;
  -moz-animation: blink 1s  infinite;
  animation: blink 1s  infinite;
} 
