body {
	background-image: url("/media/superette/background.jpg");
}

#chrono {
	position: fixed;
	width: 45%;
	padding: 0.1em;
	font-family: monospace;
	font-size: 3.5vw;
	font-weight: bold;
	color: #FFFF00;
	background-color: #000000;
	text-align: left;
	border: 0px;
	z-index: -1;
	bottom: 1%;
	left: 52.5%;
}

#chrono::before {
	content: "18/05/2018 ";
}

#clue  {
	width: 80%;
	margin: 10% auto 0 auto;
}

