{% extends "base.html" %}
{% block title %}Cameras{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='camera.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='control.css') }}">
	<script src="{{ config['VUE_URL'] }}"></script>
	<script src="{{ url_for('static', filename='adapter.min.js') }}"></script>
	<script src="{{ url_for('static', filename='janus.js') }}"></script>
	<script src="{{ url_for('static', filename='streaming.js') }}"></script>
{% endblock %}
{% block content %}
	{{ super() }}
	<div id="camera">
		{% if room.microphones %}
		<div id="microphones">
			<ul>
				{% for mic in room.microphones %}
				<li>
					<label class="switch_wrapper">
						<span class="switch">
							<input type="checkbox" value="{{ loop.index0 }}" v-model="enabledMics">
							<span class="slider"></span>
						</span>
						<span>{{ mic.name }}</span>
					</label>
					<streaming type="audio" stream-id="{{ mic.stream }}" v-if="enabledMics.includes('{{ loop.index0 }}')"></streaming>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div id="camera-list">
			{% for camera in room.cameras %}
			<div id="placeholder-{{ camera.stream }}" class="placeholder" v-show="mainCamera!='{{ loop.index0 }}'" v-on:click="mainCamera='{{ loop.index0 }}'">
				<div id="camera-{{ loop.index0 }}" class="camera">
					<div class="name-tag">{{ camera.name }}</div>
					<streaming type="video" stream-id="{{ camera.stream }}" muted="true"></streaming>
				</div>
			</div>
			{% endfor %}
		</div>
		<div id="main-camera"></div>
	</div>
	<script src="{{ url_for('static', filename='camera.js') }}"></script>
{% endblock %}
