<section id="chrono">
	<div class="chronometer">
		<span v-if="chrono">${chrono}</span>
	</div>
	<div class="buttons">
		<div>
			<input type="button" class="button" value="Démarrer" v-if="startTime == 0" v-on:click="start()">
			<input v-if="stopTime == 0 && startTime > 0" type="button" class="button" value="Arrêter" v-bind:disabled=false v-on:click="stop()">
			<input v-if="stopTime > 0" type="button" class="button" value="Reprendre" v-bind:disabled=false v-on:click="start()">
		</div>
		<div>
			<input type="button" class="button" value="Ajouter 1 min" v-bind:disabled="!startTime" v-on:click="startTime-=60">
		</div>
		<div>
			<input type="button" class="button" value="Retirer 1 min" v-bind:disabled="!startTime" v-on:click="startTime+=60">
		</div>
	</div>
</section>
