{% extends "base.html" %}
{% block title %}{{ room.name }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='control.css') }}">
<script src="{{ config['VUE_URL'] }}"></script>
{% endblock %}
{% block content %}
{{ super() }}
<div id="control">
	<header>
		<input type="button" class="button" value="Réinitialiser" v-on:click="reset">
		<h1>{{ room.name }}</h1>
	</header>
	<div id="columns">
		<div id="right">
			{% include 'chrono.html' %}
			<div id="interactions">
				{% include 'clues.html' %}
				{% include 'triggers.html' %}
				{% include 'toggles.html' %}
			</div>
			{% include 'cameras.html' %}
		</div>
		<div id="left">
			{% include 'puzzles.html' %}
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='control.js') }}"></script>
{% endblock %}
