{% extends "base.html" %}
{% block title %}{{ room.name }}{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='display.css') }}">
{% if room.style_url %}
	<link rel="stylesheet" href="{{ room.style_url }}">
{% endif %}
	<script src="{{ config['VUE_URL'] }}"></script>
{% endblock %}
{% block content %}
	{{ super() }}
	<div id="display">
		<video v-if="video" v-on:ended="video = null" v-on:error="video = null" autoplay>
			<source v-bind:src="video" type="video/mp4">
		</video>
		<audio v-if="audio" v-on:ended="audio = null" v-on:error="audio = null" autoplay hidden>
			<source v-bind:src="audio" type="audio/mpeg">
		</audio>
		<audio v-if="backgroundAudio" v-on:error="backgroundAudio = null" v-bind:volume="backgroundVolume" id="background-audio" autoplay hidden loop>
			<source v-bind:src="backgroundAudio" type="audio/mpeg">
		</audio>
		<div id="chrono"><span v-bind:class="{ blinking: (stopTime > 0) }">${chrono}</span></div>
		<div id="clue" v-if="clue">${clue}</div>
	</div>
	<script src="{{ url_for('static', filename='display.js') }}"></script>
{% if room.chrono_offset %}
	<script>chronoOffset = {{ room.chrono_offset }};</script>
{% endif %}
{% if room.chrono_reversed %}
	<script>chronoReversed = true;</script>
{% endif %}
{% endblock %}
