{% extends "base.html" %}
{% block title %}{{ room.name }}{% endblock %}
{% block head %}
	{{ super() }}
<script src="{{ config['VUE_URL'] }}"></script>
{% endblock %}
{% block content %}
{{ super() }}
	<div id="evac">
		<span v-for="(state, action) in gameState">
			<input type="button" :value="action" v-on:click="sendAction(action)" v-if= !state>
			<input type="button" :value="'annuler :' + action" v-on:click="abortAction(action)" v-if= state>
		</span>
	<div> Nombre de victimes : ${casualties} </div>
	<div v-if=victory> Victoire ! </div>
	</div>
<script src="{{ url_for('static', filename='evacuation.js') }}"></script>
{% endblock %}
