<section id="messages">
	<div class="form">
		<div>
			<p>Message:</p>
			<input type="text" name="message" class="message" v-model="inputMessage">
		</div>
		<div>
			<input type="button" class="button" value="Envoyer" v-on:click="sendMessage()">
		</div>
	</div>
	<div class="history">
		<p>Historique des messages:</p>
		<div class="scroll">
			<p v-if="!messages.length">Aucun</p>
			<ol v-if="messages.length">
				<li v-for="message in messages">
					<span class="message">
						<span class="sender">${message.sender}:</span>
						<span class="text">${message.text}</span>
					</span>
				</li>
			</ol>
		</div>
	</div>
</section>
