{% if room.triggers %}
<section id="triggers">
{% if room.media_triggers_indexes|length > 0 %}
<div class="triggers">
	<ul>
		{% for trigger in room.triggers %}
		{% if not trigger.hidden and trigger.is_media %}
		<li>
			<input id="trigger-{{ loop.index0 }}" type="button" class="button" value="{{ trigger.name }}" v-on:click="trigger({{ loop.index0 }})">
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
{% endif %}
{% if room.media_triggers_indexes|length < room.triggers|length %}
<div class="triggers">
	<ul>
		{% for trigger in room.triggers %}
		{% if not trigger.hidden and not trigger.is_media %}
		<li>
			<input id="trigger-{{ loop.index0 }}" type="button" class="button" value="{{ trigger.name }}" v-on:click="trigger({{ loop.index0 }})">
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
{% endif %}
</section>
{% endif %}
